.form {
  width: 403px;
  min-height: 455px;
  padding: 50px;
  padding-top: 43px;
  background-color: $color-tangaroa;
}

.form__info {
  margin: 0;
  margin-bottom: 27px;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: $color-alice-blue;
}

.form__field label {
  display: none;
}

.form__field input {
  width: 100%;
  height: 43px;
  margin-bottom: 20px;
  padding-left: 14px;
  background-color: $color-alice-blue;
  color: $color-tangaroa;
  border: none;
  cursor: text;
}

.form__field input::placeholder {
  padding-top: 11px;
  padding-bottom: 11px;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: $color-tangaroa-placeholder;
}

.form__field input:hover,
.form__field input:focus,
.form__field input:focus-within {
  outline: $color-tangaroa solid 2px;
  box-shadow: 0 0 7px 0 $color-alice-blue inset, 0 0 7px 4px $color-alice-blue;
}

.form__field-checkbox {
  position: relative;
  margin-bottom: 24px;
  padding-left: 23px;
}

.form__field-checkbox input {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.form__field-checkbox span {
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  background-color: $color-alice-blue;
  cursor: pointer;
}

.form__field-checkbox label {
  vertical-align: text-top;
  font-weight: 400;
  font-size: 10px;
  line-height: 130%;
  color: $color-alice-blue;
  cursor: pointer;
  user-select: none;
}

.form__field-checkbox:hover label,
.form__field-checkbox:hover span {
  filter: drop-shadow(0 0 1px $color-quartz);
}

.form__field-checkbox:focus label,
.form__field-checkbox:focus-within label {
  filter: drop-shadow(0 0 1px $color-quartz);
}

.form__field-checkbox:focus span,
.form__field-checkbox:focus-within span {
  filter: drop-shadow(0 0 1px $color-quartz);
}

.form__field-checkbox:active label,
.form__field-checkbox:active span {
  opacity: 0.5;
}

input[type="checkbox"]:checked + span {
  &::before,
  &::after {
    position: absolute;
    content: "";
    width: 10px;
    height: 8px;
    background: url("../img/svg/check.svg");
    background-repeat: no-repeat;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.form button {
  width: 100%;
  padding-top: 12px;
  padding-bottom: 10px;
  background-color: $color-alice-blue;
  border: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  color: $color-tangaroa;
  cursor: pointer;
  box-shadow: 0 0 40px 40px $color-alice-blue inset, 0 0 0 0 $color-alice-blue;
  transition: all 0.2s;
  user-select: none;
}

.form button:hover,
.form button:focus {
  outline: 0;
  background-color: $color-tangaroa;
  color: $color-alice-blue;
  box-shadow: 0 0 7px 0 $color-alice-blue inset, 0 0 7px 4px $color-alice-blue;
}

.form button:active {
  opacity: 0.7;
}

@media (max-width: $mobile-max-width) {
  .form {
    width: 100%;
    min-height: 460px;
    padding: 40px 29px;
    padding-top: 33px;
    padding-bottom: 33px;
  }

  .form__info {
    text-align: center;
    margin-bottom: 25px;
  }

  .form__field-checkbox {
    padding-left: 28px;
    margin-bottom: 28px;
    min-width: 180px;
  }

  .form__field-checkbox label {
    display: block;
    line-height: 110%;
  }
}
