.intro {
  min-height: 650px;
  background-color: $color-dark-cerulean;
  background-repeat: no-repeat;
  background-size: cover;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}

.webp .intro {
  background-image: url("../img/intro-background.webp");

  @media (min-resolution: $retina-dppx) and (min-width: $vp-1024) {
    background-image: url("../img/intro-background@2x.webp");
  }
}

.no-webp .intro {
  background-image: url("../img/intro-background.jpg");

  @media (min-resolution: $retina-dppx) and (min-width: $vp-1024) {
    background-image: url("../img/intro-background@2x.jpg");
  }
}

.intro__wrapper {
  padding-top: 270px;
}

.intro__title {
  padding-left: 95px;
  margin: 0;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 54px;
  line-height: 66px;
  color: $color-alice-blue;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.intro__description {
  margin: 0;
  padding-left: 95px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: $color-alice-blue;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

@media (max-width: $tablet-max-width) {
  .intro {
    min-height: 638px;
    background-repeat: no-repeat;
    background-size: cover;
    filter: none;
  }

  .webp .intro {
    background-image: url("../img/intro-background-tablet.webp");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/intro-background-tablet@2x.webp");
    }
  }

  .no-webp .intro {
    background-image: url("../img/intro-background-tablet.jpg");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/intro-background-tablet@2x.jpg");
    }
  }

  .intro__wrapper {
    padding-top: 268px;
  }

  .intro__title {
    padding-left: 0;
    font-size: 50px;
    line-height: 61px;
    text-shadow: none;
  }

  .intro__description {
    padding-left: 0;
    font-size: 18px;
    line-height: 22px;
    text-shadow: none;
  }
}

@media (max-width: $mobile-max-width) {
  .intro {
    min-height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .webp .intro {
    background-image: url("../img/intro-background-mobile.webp");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/intro-background-mobile@2x.webp");
    }
  }

  .no-webp .intro {
    background-image: url("../img/intro-background-mobile.jpg");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/intro-background-mobile@2x.jpg");
    }
  }

  .intro__wrapper {
    padding-top: 176px;
  }

  .intro__title {
    font-size: 36px;
    line-height: 125%;
    margin-bottom: 10px;
  }

  .intro__description {
    font-size: 16px;
    line-height: 140%;
  }
}
